<form action="?" method="post">
	<label for="date">Date: </label>
	<input type="text" name="date" />
	<br />
	<label for="experience">Experience: </label>
	<input type="text" name="experience" />
	<br />
	<label for="salary">Salary: </label>
	<input type="text" name="salary" />
	<br />
	<label for="website">Website: </label>
	<input type="text" name="website" />
	<br />
	<br />
	<label for="transportation">Transportation:</label>
	<br />
	<select name="transportation">
		<option value="ownVehicle">Own Vehicle</option>
		<option value="carpool">Carpool</option>
		<option value="other">Other</option>
	</select>
	<br />
	<br />
	<label for="gender">Gender</label>
	<br />
	<input type="radio" value="Male" name="gender" /> Male
	<input type="radio" value="Female" name="gender" /> Female
	<br />
	<!--http://www.homeandlearn.co.uk/php/php4p10.html-->
	<span>----</span>
	<br />
	<label for="newsLetter">Sign up for ProTask's newsletter?: </label>
	<br />
	Yes <input type="checkbox" name="newsLetter" value="yes" />
	No <input type="checkbox" name="newsLetter" value="no" />
	<br />
	<br />
	<input type="submit" value="Send" />
</form>